.logo {
  width: 2.5rem;
  height: auto;
  position: absolute;
}

#nav-bar {
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* height: 0rem */
}

.nav-bar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #e19526;
}

.nav-list {
  float: right;
}

.na-bar li a {
  display: block;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

li a {
  background-color: #cd737d;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #bc4451;
}

.nav-link {
  color: white
}


.flex-container {
  /* padding: 10rem; */
  padding: 5%;
}

body {
  background-color: #e9b160;
}

.pencil{
  /* width: 60vw; */
}

.home {
  text-align: center;
  /* width: 100vw; */
  /* height: 100vh; */
  padding: 0px;
  /* margin-bottom: 10rem */
  position: relative;

}
.home-title {
  padding: 10rem;
  /* position: absolute; */
  bottom: 0;
}

.about {
  text-align: center;
  /* margin-top: 10rem */
  padding: 2%;

}


.mc-field-group, .clear {
  display: inline-block;
  /* height: 100%; */
  vertical-align: middle;
}

.news {
  float: none;
  text-align: center;
  height: em;
  padding: 5%

}

.mc-field-group {
  margin: 0;
  padding: 0;
  width: 20em;
  /* arbitrary */
  text-indent: 1em;
}

/* @media screen and (max-width: 992px) {
  body {
    background-color: red;
  }
} */
@media screen and (max-width: 992px) {
  .video {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .column {
    width: 100%;
  }

  .flex-container {
    /* display: flex;
    padding: 0rem; */
  }
}
